.jumbotron-about
  %h1 Hi, I am Ms. Rachael...
  =image_tag('rach.png')
  %p
    I am a 2014
    =link_to "Teach For America", "http://www.teachforamerica.org/", target: "_blank"
    Corps Member and will be teaching this Fall at
    =link_to "Academy 360.", "http://www.academy-360.org/", target: "_blank"
    I have recently graduated from CU Boulder as an Anthropology major.
  %p
    I have spent the last couple of years teaching in the
    =link_to "I Have a Dream Foundation.", "http://www.ihaveadreamfoundation.org/html/", target: "_blank"
    I love teaching, travelling the world, volunteering and spending time with my dog, Mali.