.jumbotron-about
  %h1 Hi, I am Ms. Rachael...
  %p I am a 2014 Teach For America Corps Member and will be teaching this Fall at Academy 360. I have recently graduated from CU Boulder as an Anthropology major.
  %p I have spent the last couple of years teaching in the "I Have a Dream Foundation". I love teaching, travelling the world, volunteering and spending time with my dog, Mali.
  %ul
    %li.left
      %a.btn.btn-primary{href: "http://www.academy-360.org/", target: "blank"} Check out where I am teaching
    %li.left
      %a.btn.btn-primary{href: "http://www.ihadboulder.org/IHAD_1.5/news-a-events/newsletters/dreamer-news", target: "blank"} An article on me...
    %li.right
      %a.btn.btn-primary{href: "http://www.ihaveadreamfoundation.org/html/", target: "blank"} I Have a Dream Foundation
    %li.right
      %a.btn.btn-primary{href: "http://www.teachforamerica.org/", target: "blank"} Teach for America
  =image_tag('rach.jpg')