.jumbotron-contact
   = image_tag('students.jpg')
   %h1 I would love to hear from you!
   %ul
      %li
         =link_to image_tag("email.png"), "mailto:rach.durham@gmail.com"
      %li
         =link_to image_tag("linkedin.png"), "http://www.linkedin.com/pub/rachael-durham/89/4a8/5ba"
      %li
         =link_to image_tag("twitter.png"), "https://twitter.com/"