.jumbotron-mali
   %h1 Hi I'm Mali.
   %p My eat baconzzz, chase de lil' squirrels and farting. I ❤ mom #yolo
   .mali-pic
      =image_tag('mali-collage.png')
   %a.btn.btn-primary{href: "http://instagram.com/phat_mosh", target: "blank"} Me Instragram Famous
