/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$btn-primary-color: #88A825;

@import "bootstrap";

.navbar-brand img {
  width: 40px;
  height: 40px;
}

.navbar-brand {
  padding: 2px 15px;
}

.navbar {
  margin-bottom: 0;
  height: 65px;
  font-size: 20px;
  padding-top: 10px;
  background-color: #35203B;
  border-radius: 0px;

  a {
    color: #fff;
    font-weight: lighter;
  }

  a:hover {
    color: #88A825;
  }

  li.ask a{
    margin-left: 550px;
  }
}

a.btn {
  background-color: #88A825;
  font-size: 20px;
  border: none;
}

.jumbotron {
  background: asset-url('main.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 1050px;
  top:0;
  left:0;
  z-index: -1;
}

.well.well-sm {
  width: 650px;
  height: 200px;
  text-align: center;
  float: right;
  margin-right: 100px;
  margin-top: 200px;
  background-color: #911146;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #ED8C2B;
  border: none;
}

#subtitle {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: lighter;
  color: #CF4A30;
}

.jumbotron-mali {
  background-color: #ED8C2B;
  text-align: center;

  h1 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    margin-top: -5px;
    padding-top: 28px;
    font-weight: bold;
    color: #911146;
  }

  p {
   font-size: 20px;
   color: #CF4A30;
  }

  a {
    color: #911146;
    margin-top: 10px;
    margin-bottom: 30px;
    &:hover {
      background-color: #CF4A30;
    }
  }
}

.jumbotron-contact {
  background-color: #ED8C2B;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;

  h1 {
    color: #911146;
    padding-bottom: 30px;
  }

  p {
    font-size: 20px;
    color: #CF4A30;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline;
    padding: 60px;
  }
}

.jumbotron-about {
  background-color: #ED8C2B;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 300px;


  h1 {
    color: #911146;
    padding-bottom: 10px;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-weight: bold;
    font-size: 50px;
  }

  p {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 22px;
    color: #CF4A30;
    font-weight: bold;
  }

  a {
    color: #911146;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: lighter;
    width: 275px;
  }
}

.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.ask-rach-form {
  background-color: #ED8C2B;
  padding-top: 20px;
  padding-bottom: 300px;
  color: #911146;

  h1 {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  form {
    background-color: #fff;
    padding: 30px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 3px;

    input {
      width: 100%;
    }
  }

  input {
    width: 320px;
  }

  input.btn.btn-default   {
    width: 100px;
    background-color: #88A825;
    color: #911146;
  }
}
