/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.jumbotron {
  background: url('main.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 1050px;
  top:0;
  left:0;
  z-index: -1;
}

.well {
  width: 650px;
  height: 200px;
  text-align: center;
  float: right;
  margin-right: 100px;
  margin-top: 200px;
  background-color: #911146;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #ED8C2B;
}

#subtitle {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
