/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$btn-primary-color: #88A825;
@import "bootstrap";

.navbar-brand img {
  width: 40px;
  height: 40px;
}

.navbar-brand {
  padding: 2px 15px;
}

.navbar {
  margin-bottom: 0;
  height: 65px;
  font-size: 20px;
  padding-top: 10px;
  background-color: #35203B;
  border-radius: 0px;

  a {
    color: #fff;
    font-weight: lighter;
  }

  a:hover {
    color: #88A825;
  }

  li.ask a{
    margin-left: 550px;
  }
}

a.btn {
  background-color: #88A825;
  font-size: 20px;
  border: none;
}

.jumbotron {
  background: asset-url('main.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 1050px;
  top:0;
  left:0;
  z-index: -1;
}

.well {
  width: 650px;
  height: 200px;
  text-align: center;
  float: right;
  margin-right: 100px;
  margin-top: 200px;
  background-color: #911146;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #ED8C2B;
  border: none;
}

#subtitle {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: lighter;
  color: #CF4A30;
}

.jumbotron-mali {
  background-color: #ED8C2B;
  text-align: center;

  h1 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    margin-top: -5px;
    padding-top: 28px;
    font-weight: bold;
    color: #911146;
  }

  p {
   font-size: 20px;
   color: #CF4A30;
  }

  a {
    color: #911146;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

.jumbotron-contact {
  background-color: #ED8C2B;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;

  h1 {
    color: #911146;
    padding-bottom: 30px;
  }

  p {
    font-size: 20px;
    color: #CF4A30;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline;
    padding: 60px;
  }
}

.jumbotron-about {
  background-color: #ED8C2B;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 300px;


  h1 {
    color: #911146;
    padding-bottom: 10px;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    color: #CF4A30;
  }

  ul {
    list-style-type: none;
    padding-top: 30px;
  }

  li {
    display: inline;
    padding: 15px;
  }

  a {
    color: #911146;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
